# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
env/
ENV/
.venv/
.pyenv/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyCharm / VS Code
.idea/
.vscode/

# macOS / Linux / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Local env settings
.env
.env.*

# AWS credentials or config files
*.pem
*.key

# SQLite or other local DBs
*.db
*.sqlite3

# Uvicorn reload file
.reload

# Ignore __local__ deployment files
*.local